<html>
  <head>
    <script src="/public/js/jquery-1.2.6.min.js" type="text/javascript"> </script>
    <script src="/public/js/rhogeolocation.js" type="text/javascript"> </script>
  </head>
  <body>

<div class="pageTitle">
  <h1>New <%= @event.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @event.object %>"/>
    <ul>
      
          <li>
            <label for="event[id]" class="fieldLabel">Id</label>
            <input type="text" name="event[id]" <%=
            placeholder("Id") %> />
          </li>
      
          <li>
            <label for="event[category]" class="fieldLabel">Category</label>
            <input type="text" name="event[category]" <%=
            placeholder("Category") %> />
          </li>
      
          <li>
            <label for="event[title]" class="fieldLabel">Title</label>
            <input type="text" name="event[title]" <%=
            placeholder("Title") %> />
          </li>
      
          <li>
            <label for="event[description]" class="fieldLabel">Description</label>
            <input type="text" name="event[description]" <%=
            placeholder("Description") %> />
          </li>
      
          <li>
            <label for="event[timeStart]" class="fieldLabel">Timestart</label>
            <input type="text" name="event[timeStart]" <%=
            placeholder("Timestart") %> />
          </li>
      
          <li>
            <label for="event[dateStart]" class="fieldLabel">Datestart</label>
            <input type="text" name="event[dateStart]" <%=
            placeholder("Datestart") %> />
          </li>
      
          <li>
            <label for="event[timeEnd]" class="fieldLabel">Timeend</label>
            <input type="text" name="event[timeEnd]" <%=
            placeholder("Timeend") %> />
          </li>
      
          <li>
            <label for="event[dateEnd]" class="fieldLabel">Dateend</label>
            <input type="text" name="event[dateEnd]" <%=
            placeholder("Dateend") %> />
          </li>
      
          <li>
            <label for="event[advisedTime]" class="fieldLabel">Advisedtime</label>
            <input type="text" name="event[advisedTime]" <%=
            placeholder("Advisedtime") %> />
          </li>
      
          <li>
            <label for="event[street]" class="fieldLabel">Street</label>
            <input type="text" name="event[street]" <%=
              placeholder("Street") %>/>
          </li>
      
          <li>
            <label for="event[number]" class="fieldLabel">Number</label>
            <input type="text" name="event[number]" <%=
            placeholder("Number") %> />
          </li>
      
          <li>
            <label for="event[cap]" class="fieldLabel">Cap</label>
            <input type="text" name="event[cap]" <%=
            placeholder("Cap") %> />
          </li>
      
          <li>
            <label for="event[city]" class="fieldLabel">City</label>
            <input type="text" name="event[city]" <%=
            placeholder("City") %> />
          </li>
      
          <li>
            <label for="event[province]" class="fieldLabel">Province</label>
            <input type="text" name="event[province]" <%=
            placeholder("Province") %> />
          </li>
      
          <li>
            <label for="event[region]" class="fieldLabel">Region</label>
            <input type="text" name="event[region]" <%=
            placeholder("Region") %> />
          </li>
      
          <li>
            <label for="event[country]" class="fieldLabel">Country</label>
            <input type="text" name="event[country]" <%=
            placeholder("Country") %> />
          </li>
          
          <li>
              <geolocation/>
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>